*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: 'Titillium Web', sans-serif;  /*actual background for webpage */
}



h1 {
  text-align: center;
  color: #7eb9f8;
  font-weight: 300;
  margin: 0 0 40px;
}

.form {
  background: #C7E6FD;
  padding: 30px;
  max-width: 450px;
  margin: 30px auto;
  border-radius: 4px;
  
}

.Intro {
	font-size: 20px;
	float: center;
	text-align: center;
	margin: 2%; 
	
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #0000ff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #0000ff;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #0000ff;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #191970;
}

.button-block {
  display: block;
  width: 100%;
}



